---
- name: Ensures minecraft_bedrock dir exists
  ansible.builtin.file:
    path: "{{ minecraft.bedrock.root_dir }}/data"
    state: directory
    mode: "0755"

- name: Adding server.properties file
  ansible.builtin.template:
    src: bedrock/server.properties.j2
    dest: "{{ minecraft.bedrock.root_dir }}/data/server.properties"
    mode: "0644"

- name: Adding allowlist.json file
  ansible.builtin.template:
    src: bedrock/allowlist.json.j2
    dest: "{{ minecraft.bedrock.root_dir }}/data/allowlist.json"
    mode: "0644"

- name: Adding permissions.json file
  ansible.builtin.template:
    src: bedrock/permissions.json.j2
    dest: "{{ minecraft.bedrock.root_dir }}/data/permissions.json"
    mode: "0644"

- name: Create the minecraft container
  community.docker.docker_container:
    name: minecraft_bedrock
    image: itzg/minecraft-bedrock-server:2025.11.0
    restart_policy: unless-stopped
    ports:
      - "19132:19132/udp"
    networks:
      - name: web
    volumes:
      - "{{ minecraft.bedrock.root_dir }}/data:/data"
    env:
      EULA: "TRUE"
