daemon=3600
timeout=10
syslog=yes
use=web, web=dynamicdns.park-your-domain.com/getip
server=dynamicdns.park-your-domain.com
protocol={{ acme_provider }}

{%- for domain in domains -%}
    {%- if 'password' in domain -%}
        login={{ domain.name }}
        password={{ domain.password }}
        @, *
    {%- endif -%}
{%- endfor -%}
