server-name={{ minecraft.bedrock.server_name }}
gamemode={{ minecraft.bedrock.game_mode }}
difficulty={{ minecraft.bedrock.difficulty }}
allow-cheats={{ "true" if minecraft.bedrock.allow_cheats else "false" }}
max-players={{ minecraft.bedrock.max_players }}
online-mode=true
allow-list=true
server-port=19132
view-distance={{ minecraft.bedrock.view_distance }}
tick-distance={{ minecraft.bedrock.tick_distance }}
player-idle-timeout=30
max-threads={{ minecraft.bedrock.max_threads }}
texturepack-required=false
pvp={{ "true" if minecraft.bedrock.pvp else "false" }}
