Port {{ ssh_port }}
PermitRootLogin no
PubkeyAuthentication yes
AuthorizedKeysFile .ssh/authorized_keys
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes
PrintMotd no # pam does that

# Accept locale-related environment variables
AcceptEnv LANG LC_* COLORTERM NO_COLOR

# override default of no subsystems
Subsystem	sftp	internal-sftp

{% for user in sftp_users %}
Match User {{ user.name }}
    ChrootDirectory {{ user.chroot_dir }}
    PasswordAuthentication yes
    X11Forwarding no
    AllowTcpForwarding no
    ForceCommand internal-sftp -u 002
{% endfor %}
