daemon=3600
timeout=10
syslog=yes

use=web, web=https://checkip.amazonaws.com
protocol={{ ddclient_protocol }}
zone={{ ddclient_zone }}
ttl=1
password={{ ddclient_token }}
{{ ddclient_hosts | join(',') }}
