---
- name: Provisioning eserver
  hosts:
    - eserver
  become: true
  roles:
    - host
    - docker
    - ddns
    - webserver
    - reverse-proxy
#    - vpn
#    - database
#    - monitoring
#    - wiki
#    - password-manager
#    - portainer
    - minecraft
#    - yumme
