name: Continous Integration

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Install just
        uses: extractions/setup-just@v3
      - name: Install UV
        uses: astral-sh/setup-uv@v7
      - name: Install dependencies
        run: just install
      - name: Prepare vault password
        run: echo "$VAULT_PASSWORD" > .vault_password
        env:
          VAULT_PASSWORD: ${{ secrets.VAULT_PASSWORD }}
      - name: Lint
        run: just lint
